# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# Optional rate limiting
# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
# Support OAuth login on preview deployments, see: https://authjs.dev/getting-started/deployment#securing-a-preview-deployment
# AUTH_REDIRECT_PROXY_URL=https://cvai.app/api/auth

# Supabase DB (For storing user data)
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
